%h3 Generate Quiz
= simple_form_for :question, :html => {:class => 'form-vertical'} do |f|
	.form-inputs
		= f.input :tag, :collection => @tags
		= f.input :number_of_questions, :label => "Number of Questions"
		= f.button :submit, :value => "Generate Quiz"