%h3 Quiz

%table.table.table-striped
  %tr
    %th XML
    %th Tags
    %th 
      %span.pull-right Created


  - @questions.each do |question|
    %tr
      %td= question.xml
      %td= question.tags.reduce('') do |sum, tag| tag.name + ', ' + sum end.slice(0..-3)
      %td
        %span.pull-right= format_date(question.created_at)

%br

.btn= link_to 'New Quiz', prepare_quiz_path
