= link_to 'Edit', edit_question_path(@question)
\&nbsp;|&nbsp; 
= link_to 'Back to Questions', questions_path

%dl
  %dt XML
  %dd= @question.xml
  
  %dt Created
  %dd= format_date(@question.created_at)