= link_to 'Back to Questions', questions_path
\&nbsp; &#xb7; &nbsp;
= link_to 'Edit Question', edit_question_path(@question)

%h3 View Question

%dl
  %dt XML
  %dd= @question.xml
  
  %dt Created
  %dd= format_date(@question.created_at)