%h3 Question

= link_to 'Edit', edit_question_path(@question)

%dl
  %dt XML
  %dd= @question.xml
  
  %dt Created
  %dd= format_date(@question.created_at)

  -@question.question_values.each do |val|
    -next if val.nil?
    -qa = QuestionAttribute.find(val.question_attribute_id)
    %dt=qa.name
    %dd=val[(qa.backend_type+"_value").to_sym]