*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
features/support/env.rb~
test/test_helper.rb~
**.orig
rerun.txt
pickle-email-*.html
Gemfile~
.DS_Store
