.hero-unit
	%h3 Hello, Stranger!
	%p Question Bank is a source of questions for students and instructors alike.
	%p If you are a student, you can use our questions as a resource for studying.
	%p If you are an educator, you can use our questions to instantly create quizzes and exams. In return, you can contribute questions of your own devising to the pool.