.hero-unit
	- if user_signed_in?
		%h3 Hello, #{current_user.name}
	- else
		%h3 Hello, Stranger!
	%p QuestionBank is a source of questions for students and instructors alike.
	%p If you are a student, use our questions as a resource for studying.
	%p If you are an educator, use our questions to instantly create quizzes and exams. In return, you can contribute questions of your own devising to the pool.