%h3 Upload Data
%p Upload a CSV file with data about questions or users.

%br

= simple_form_for :upload, :url => create_upload_path, :html => {:multipart => true, :class => 'form-vertical'} do |f|
  %p 
    If you are uploading data about 
    %strong users, 
    include a column with the name
    %strong User ID.
  .form-inputs
    =f.input :upload_file, :label => "Choose file", :as => :file
  .form-actions
    =f.submit :submit, :value => "Upload CSV", :id => "upload_data_submit", :class => 'btn btn-primary'

